DATABASE_URL=mysql+pymysql://YOUR_USERNAME:YOUR_PASSWORD@localhost/petcaredb?charset=utf8mb4
SECRET_KEY=YOUR_SECRET_KEY

CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET

SEPAY_ACC=YOUR_BANK_ACCOUNT_NUMBER
SEPAY_BANK=YOUR_BANK_CODE
SEPAY_QR_BASE=YOUR_SEPAY_QR_BASE_URL
SEPAY_API_KEY=YOUR_SEPAY_API_KEY

JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60